<%- include("../partials/header")%>
<br>
<div class="container text-center" style="width: 30%;">
<h1>Add Comment to: <%=camp.name%></h1>
<form action="/campgrounds/<%=camp._id%>/comments" method="POST">
    

<input class="form-control" style="margin-top: 5px;" type="text" name="comment[text]"  placeholder="Text...">


<button style="margin-top: 5px;" class="btn btn-outline-primary btn-block">Submit</button>
</form>

</div>
<%- include("../partials/footer")%>