<%- include("partials/header.ejs")%>

<h1>register form</h1>
<form action="/register" method="POST">
<input type="text" name="username" placeholder="User name">
<input type="password" name="password" placeholder="Password">
<button>Submit</button>
</form>
<%- include("partials/footer.ejs")%>
